* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.nav-top {
  margin: 0 auto;
  width: 1024px;
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-between;
}
.logo-img {
  font-size: 28px;
  color: teal;
  font-weight: 700;
}
.logo-title {
  display: flex;
  font-size: 18px;
  font-weight: 600;
  color: rgba(1, 1, 1, 0.7);
}

.logo-title span:nth-child(2) {
  margin: 0 20px;
  border-left: 1px solid rgba(1, 1, 1, 0.4);
  border-right: 1px solid rgba(1, 1, 1, 0.4);
  padding: 0 20px;
}
.nav-bottom {
  width: 100%;
  height: 70px;
  background-color: teal;
}
.container-nav {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-item span {
  display: inline-block;
  color: white;
}
.nav-item__big {
  font-size: 20px;
  font-weight: 600;
}
.nav-item__small {
  font-size: 10px;
  text-transform: uppercase;
  color: grey;
  margin-top: 5px;
}
main {
  width: 1024px;
  margin: 0 auto;
}
.main-title {
  margin-top: 30px;
  background-image: url("https://images.unsplash.com/photo-1485288734756-0b31a0a31d95?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3450&q=80");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-title__text {
  color: white;
  font-size: 30px;
  font-weight: 600;
}
.main-title__sub {
  margin-top: 15px;
  color: gray;
  border-top: 1px solid gray;
  border-bottom: 0.5px solid gray;
  padding: 7px;
}
.sub-title {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sub-title span {
  font-size: 24px;
  font-weight: 600;
}
.grid-title {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 50px);
  grid-template-columns: 1fr 4fr 1fr 1.5fr 1fr 1.5fr;
  background-color: rgba(1, 1, 1, 0.3);
  grid-row-gap: 1px;
  border-top: 2px solid rgba(1, 1, 1, 0.1);
  border-bottom: 1px solid rgba(1, 1, 1, 0.3);
}
.grid-item1 {
  grid-column: 1/7;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.grid-item.admin {
  display: flex;
  justify-content: flex-start;
}
.article-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.article-img {
  width: 100%;
  height: 500px;
  background-image: url("https://images.unsplash.com/photo-1593642531955-b62e17bdaa9c?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80");
  background-size: cover;
  background-position: center center;
}
footer {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer-menu {
  width: 100%;
  height: 50px;
  background-color: rgba(1, 1, 1, 0.2);
}
.footer-copy {
  margin: 0 auto;
  width: 1024px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
}
.footer-img {
  width: 30%;
}
.footer-kp {
  font-size: 14px;
  color: rgba(1, 1, 1, 0.4);
  margin-bottom: 5px;
}
.footer-en {
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(1, 1, 1, 0.4);
}
